{% load staticfiles %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web 4D-QSAR</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">

    {% block head_js %}
    {% endblock %}

</head>
<body>
    {% block content %}{% endblock %}

    <script src="{% static "js/jquery-2.1.0.min.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    {% block footer_js %}{% endblock %}
</body>
</html>
