{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="page-header">
    <p class="pull-right">
        <a href="{% url 'dynamics:new_dynamic' %}" class="btn btn-primary">New Dynamic</a>
    </p>
    <h1>
        Web 4D-QSAR
    <p class="lead">
        {% trans 'A open source web package to run molecular dynamics and build descriptors in QSAR.' %}
    </p>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>{% trans 'What is the Web 4D-QSAR?' %}</h2>
        <p>The 4D-QSAR Web is a system that involves performing molecular dynamics using GRAMACS, and generation of arrays of molecular descriptors 4D, with a new version of the methodology LQTA-QSAR, the LQTAGridPy. Thus, the result is a well-integrated and functional computational package, abstracting the technical steps of the execution of separate applications such as GROMACS and LQTAGridPy, moreover, the fact of the existence of an environment already configured and available on the Internet.</p>
        <img src="{% static 'imgs/web4dqsar.png' %}" alt="">
    </div>
    <div class="col-md-4">
        <h4>Versão 0.1</h4>
        <ul>
            <li>Execution molecular dynamics simulations for a set of molecules.</li>
            <li>A set of alignment elements.</li>
            <li>Generation matrices of descriptors.</li>
            <li>Sending email with the result of the processing.</li>
        </ul>
        <p><a href="#">Older versions</a></p>
    </div>
{% endblock %}
