{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="page-header">
    <p class="pull-right">
        <a href="/dynamic" class="btn btn-primary">New Dynamic</a>
    </p>
    <h1>W<span class="eb_webqsar">eb</span>QSAR</h1>
</div>
<p class="lead">
{% trans "Open source web package to build and validate QSAR models." %}
</p>
<div class="row">
    <div class="col-md-8">
        <h2>What is WQSAR?</h2>
        <p>Lorem numquam vitae inventore qui tempore earum laboriosam. Necessitatibus libero earum sed ut expedita sit magnam aspernatur. Pariatur atque quod perferendis fugiat eligendi dolorum minus harum, non sapiente culpa consectetur.</p>
        <p>Sit repudiandae voluptatibus qui consequuntur explicabo! Alias veritatis voluptas illo iure iste, quidem voluptates blanditiis labore blanditiis consequuntur odio illo similique. Eaque voluptates consequatur dicta dicta expedita ipsum veritatis. Quo.</p>
    </div>
    <div class="col-md-4">
        <h4>Version 0.11</h4>
        <ul>
            <li>Consectetur officia.</li>
            <li>Adipisicing quaerat eius.</li>
        </ul>
        <h4>Version 0.1</h4>
        <ul>
            <li>Sit eum dolor ex necessitatibus architecto.</li>
            <li>Elit consectetur officia.</li>
            <li>Amet placeat inventore cumque doloremque.</li>
            <li>Adipisicing quaerat eius.</li>
        </ul>
        <p><a href="#">Older versions</a></p>
    </div>
{% endblock %}
