{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_js %}
<style>
</style>
{% endblock %}

{% block content %}
<nav class="navbar navbar-default w-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Wiki</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Licence</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron w-jumbotron">
    <div class="container w-jumbotron-container">
        <h1>Web 4D-QSAR</h1>
        <p>{% trans "An open source project that generates and validates QSAR modules" %}</p>
    </div>
</div>
<div class="container w-main-links">
    <a class="btn btn-success btn-lg" href="{% url 'dynamics:new_dynamic' %}" role="button">{% trans "New Dynamic" %}</a>
    <a class="btn btn-default btn-lg" href="https://github.com/rougeth/web-4d-qsar" role="button">{% trans "View on GitHub" %}</a>
</div>
<hr>
<div class="row">
    <div class="container">
        <div class="col-md-4">
            <h4>Open source</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam earum dolores repudiandae similique soluta vitae veritatis eos vel laudantium.</p>
        </div>
        <div class="col-md-4">
            <h4>Distributed</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam earum dolores repudiandae similique soluta vitae veritatis eos vel laudantium.</p>
        </div>
        <div class="col-md-4">
            <h4>Fast</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam earum dolores repudiandae similique soluta vitae veritatis eos vel laudantium.</p>
        </div>
    </div>
</div>



{% endblock %}
