{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="page-header">
    <h1>{% trans "How Web-4D-QSAR works" %}</h1>
</div>
<p>
The creation of pharmacos with the aid of computing is a research area of great importance in chemistry and related fields.</p>
<p>
The toolkit is available for this purpose, among others, in programs for generating descriptors and construction and validation of mathematical models in QSAR (English, Quantitative Structure-Activity Relationship). Aiming to make this more accessible to the scientific community, new methodologies and programs were developed <a href="{% url 'core:docs' %}">(MARTINS, 2013)</a> study. Including a new 4D QSAR methodology, known as LQTA-QSAR, whose goal is to generate spatial descriptors taking into account the profiles of conformational sampling of molecules under study obtained from molecular dynamics simulations.
</p>
<img src="{% static 'imgs/LQTAGridPy.png' %}" alt="">
<p>Based on these methodologies developed, a Web platform was created to provide an integrated environment for performing molecular dynamics and generation of system descriptors.
</p>
{% endblock %}





