{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1>{% trans 'New Molecular Dynamic' %}</h1>
        <p class="lead">{% trans 'A molecular dynamics is a computer simulation of physical movements of atoms and molecules in the context of simulation.' %}</p>
        <form class="form" role="form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ dynamic_form.non_field_errors }}
            {{ molecule_formset.non_field_errors }}
            <h2>Contact</h2>
              {% if user.is_authenticated %}
                <p class="lead"> {{ user.first_name }} </p>
                <p class="lead"> {{ user.email }} </p>
              {% else %}
                <p class="lead"> Usuário anônimo </p>
              {% endif %}
            <!-- <div class="form-group">
                <label for="{{ dynamic_form.name.id_for_label }}">{{ dynamic_form.name.label }}</label>
                {{ dynamic_form.name.errors }}
                {{ dynamic_form.name|add_class:"form-control" }}
            </div>
            <div class="form-group">
                <label for="{{ dynamic_form.email.id_for_label }}">{{ dynamic_form.email.label }}</label>
                {{ dynamic_form.email.errors }}
                {{ dynamic_form.email|add_class:"form-control" }}
            </div> -->
            <span class="help-block">{% trans 'We will use this email address to contact you when the dynamic is ready.' %}</span>
            <h2>Dynamic</h2>
            <div class="form-group">
                <label for="{{ dynamic_form.box_size.id_for_label }}">{{ dynamic_form.box_size.label }}</label>
                {{ dynamic_form.box_size.errors }}
                {{ dynamic_form.box_size|add_class:"form-control" }}
                <span class="help-block">{% trans 'Inform the box dimension.' %}</span>
            </div>
            <div class="form-group">
                <label for="{{ dynamic_form.number_of_molecules.id_for_label }}">{{ dynamic_form.number_of_molecules.label }}</label>
                {{ dynamic_form.number_of_molecules.errors }}
                {{ dynamic_form.number_of_molecules|add_class:"form-control" }}
                <span class="help-block">{% trans 'Enter the number of molecules.' %}</span>
            </div>
            <div class="form-group">
                <label for="{{ dynamic_form.number_of_atoms_for_alignment.id_for_label }}">{{ dynamic_form.number_of_atoms_for_alignment.label }}</label>
                {{ dynamic_form.number_of_atoms_for_alignment.errors }}
                {{ dynamic_form.number_of_atoms_for_alignment|add_class:"form-control" }}
                <span class="help-block">{% trans 'Enter the number of atoms for alignment.' %}</span>
            </div>
            <!--<div class="form-group">
                <label for="{{ dynamic_form.atoms_for_alignment.id_for_label }}">{{ dynamic_form.atoms_for_alignment.label }}</label>
                {{ dynamic_form.atoms_for_alignment.errors }}
                {{ dynamic_form.atoms_for_alignment|add_class:"form-control" }}
            </div>
            -->
            <div class="form-group">
                <div class="btn-group">
                    <button type="reset" class="btn btn-default">{% trans 'Reset' %}</button>
                    <button type="submit" class="btn btn-primary">{% trans 'Next step' %}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
