{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1>{% trans "Generate Matrix Descriptors" %}</h1>
        <form class="form" role="form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ matrix_form.non_field_errors }}
            {{ molecule_formset.non_field_errors }}
            <div class="alert alert-info">
                <p class="lead">User data</p>
            </div>
            <div class="form-group">
                <label for="{{ matrix_form.name.id_for_label }}">{{ matrix_form.name.label }}</label>
                {{ matrix_form.name.errors }}
                {{ matrix_form.name|add_class:"form-control" }}
                <span class="help-block">Enter your name, please.</span>
            </div>
            <div class="form-group">
                <label for="{{ matrix_form.email.id_for_label }}">{{ matrix_form.email.label }}</label>
                {{ matrix_form.email.errors }}
                {{ matrix_form.email|add_class:"form-control" }}
                <span class="help-block">Please enter your email address.</span>
            </div>
            <div class="alert alert-info">
            <p class="lead">Matrix data</p>
            </div>
            <div class="form-group"> 
                <label for="{{ matrix_form.number_of_molecules.id_for_label }}">{{ matrix_form.number_of_molecules.label }}</label>
                {{ matrix_form.number_of_molecules.errors }}
                {{ matrix_form.number_of_molecules|add_class:"form-control" }}
                <span class="help-block">Inform the dimension box.</span>
            </div>
            <div class="form-group">
                <div class="btn-group">
                    <button type="reset" class="btn btn-default">{% trans 'Reset' %}</button>
                    <button type="submit" class="btn btn-primary">{% trans 'Next step' %}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
