{% extends 'base.html' %}

{% block content %}
<div class="page-header">
    <h1>Gromacs File Uploader</h1>
</div>
<p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, delectus voluptatem accusamus porro quo odio quae numquam molestias illo quos enim vel officia illum ducimus impedit rerum voluptatibus ea nobis.
</p>

<form role="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ dynamic_form.as_p }}
    {{ dynamic_file_formset.management_form }}
    {% for f in dynamic_file_formset %}
        {{ f.as_p }}
    {% endfor %}
    <a class="btn btn-default" id="add-input-file">Add file</a>
    <input type="submit" />
</form>
{% endblock %}

{% block footer_js %}
<script>
    $(document).ready(function() {
        var inputs = 0;

        $('#add-input-file').click(function() {
            console.log('click');
            $('#id_form-' + inputs + '-file')
                .clone()
                .attr('id', 'id_form-' + (inputs + 1) + '-file')
                .attr('name', 'form-' + (inputs + 1) + '-file')
                .insertAfter('#id_form-' + inputs + '-file');
            inputs = inputs + 1;
            $('#id_form-TOTAL_FORMS').val(inputs + 1);
        });
    });
</script>
{% endblock %}
