{% extends 'base.html' %}

{% block content %}
<div class="alert alert-success">
    <h1>Molecular Dynamics</h1>
</div>
<p class="alert alert-warning">
    Here you can send your file 'mol2', with the information of the molecule, so that the analysis is made.
</p>

<form role="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ dynamic_form.as_p }}
    {{ molecule_form.management_form }}
    {% for f in molecule_form %}
        {{ f.as_p }}
    {% endfor %}
    <a class="btn btn-default" id="add-input-file">Add file</a>
    <input type="submit" />
</form>
{% endblock %}

{% block footer_js %}
<script>
    $(document).ready(function() {
        var inputs = 0;

        $('#add-input-file').click(function() {
            console.log('click');
            $('#id_form-' + inputs + '-file')
                .clone()
                .attr('id', 'id_form-' + (inputs + 1) + '-file')
                .attr('name', 'form-' + (inputs + 1) + '-file')
                .val('')
                .insertAfter('#id_form-' + inputs + '-file');
            inputs = inputs + 1;
            $('#id_form-TOTAL_FORMS').val(inputs + 1);
        });
    });
</script>
{% endblock %}
